.container {
  width: 100%;
  height: 100%;
  .flex(row, space-between, flex-start);
  background-color: skyblue;
  :global {
    :where(.css-dev-only-do-not-override-j0nf2s).ant-form-item .ant-form-item-label >label {
      color: #fff;
    }
  }
  .left {
    flex: 1;
    height: 100%;
  }
  .right {
    height: 100%;
    width: 400px;
    .flex(row, center, flex-start);
    .form_wrap {
      margin-top: 300px;
      .operate {
        .flex(row, space-around, center);
      }
    }
  }
}